extends layout

block content
  block blogcontent

block menu
  .row
    .col-md-3
      h2 Latest Posts
      ul
        for post in blog.latest
          li
            a(href=post.name) #{post.meta.title}

      h2 Feeds
      p
        a(href="./rss20.xml") RSS v2.0
        | , 
        a(href="./atom.xml") Atom
        | .

    .col-md-3
      h2 Archive
      ul
        for year, yearNum in blog.archive
          li
            a(href='archive-' + yearNum)= yearNum
            ul
              for month, monthNum in blog.archive[yearNum]
                li
                  a(href='archive-' + yearNum + '-' + monthNum)= month[0].meta.moment.format("MMMM")
                  |  (#{month.length})

    .col-md-3
      h2 Tags
      ul
        for tagName in Object.keys(blog.tag).sort()
          li
            a(href='tag-' + tagName) #{tagName} (#{blog.tag[tagName].length})
          |  

    .col-md-3
      h2 Categories
      ul
        for categoryName in Object.keys(blog.category).sort()
          li
            a(href='category-' + categoryName) #{categoryName} (#{blog.category[categoryName].length})
          |  
