extends blog

block blogcontent
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      h2
        a(href="/blog/" + blog.thisPost.name)= blog.thisPost.meta.title
      | !{blog.thisPost.html}
      p Posted: #{blog.thisPost.meta.moment.fromNow()}
      if blog.thisPost.meta.tags
        p(style="float: right;")
          | Category:
          a.btn.btn-default.btn-sm(href='category-' + blog.thisPost.meta.category)= blog.thisPost.meta.category
          | Tags: 
          for tag in blog.thisPost.meta.tags
            a.btn.btn-default.btn-sm(href='tag-' + tag)= tag
            |  
      .clear
